.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding: 10px;
    color: white;
}


.navbar h2 {
    color:white;
    margin: 0;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

.navbar-buttons button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-buttons button:hover {
    background-color: #0056b3;
}
  